.containerNavCat {
  display: flex;
  justify-content: center;
  background-color: #d0becb;
  max-width: 2000px;
}

.containerNavCat div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerNavCat div a {
  position: relative;
  display: block;
  font-size: 16px;
  white-space: nowrap;
  padding: 17px 7px;
  background: transparent;
}
